
* {
    font-family: 'Roboto';

     
}

p {
    font-weight: bold;
}

.imgMenu {
    width: 50px;
}

.ContainerCardpositioning {
   
    
    
    
    
}

.corNav {
    background-color: #FFF;
}

.navCor {
    color: red;
}

.inputSearch {
    padding:0 415px 0 10px;
    
}

.form[type=search]:focus {
    border-color: orange;
    outline: none;
}

.containerBusca {
    margin-top: 30px;
   
}

.buttonPositioning {
   background-color: #F2A340;
    
}

.buttonPositioning:hover {
    background-color: black;
}

.tituloBusca {
    color: orange;
    text-align: center;
    
}

.containerForm {
    
    
}

.cardPositioning {
    
}

.buttonContainer {
    text-align: center;
}

.displayNav {
    display: none;
}

.navbarPositioning {
    display: flex;
    justify-content: end;
}

.tituloEventos {
    color: orange;
    margin-top: 20px;
    margin-left: 10px;
}

.overlayImg {
    background-image: url('/img/banner.jpg');
    background-size: 50%;
    max-width: 100%;
    width: 1320px;
    height: 400px;
   
   
}


.containerCardPositioning2 {
    
}

.containerCardPositioning3 {
    display: inline-flex;
 
    
}

.buttonCorCard {
    background-color: #F2A340;
}
.buttonCorCard:hover {
    background-color: black;
}

.tituloCriarEvento {
    color: orange;
    margin: 20px 0 0 20px;
}

.buttonCorCriarEventos {
    background-color: #F2A340;
}

.buttonCorCriarEventos:hover {
    background-color: black;
}

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: auto;
    text-align: center;
    padding: 10px;
}


/* Event-page   */

.image-container {

    border-radius: 30px;
}

.info-container h1 {
    font-size: 35px;
    font-weight: 900;
}

.info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
}

.description-container h3 {
font-size: 20px;
font-weight: bold;

}



.ion-icon {
    font-size: 20px;
    color: #F2A340;
    margin-right: 5px;
}

.container-saiba-mais {
    margin-top: 30px;
}

.button-cor-saiba-mais {
    background-color: #F2A340;
    margin-top: 30px;
}