
* {
    font-family: 'Roboto';

     
}

p {
    font-weight: bold;
}

.imgMenu {
    width: 50px;
}

.ContainerCardpositioning {
   
    
    
    
    
}

.corNav {
    background-color: #FFF;
}

.navCor {
    color: red;
}

.inputSearch {
    padding:0 415px 0 10px;
    
}

.form[type=search]:focus {
    border-color: orange;
    outline: none;
}

.containerBusca {
    margin-top: 30px;
   
}

.buttonPositioning {
   background-color: #F2A340;
    
}

.buttonPositioning:hover {
    background-color: black;
}

.tituloBusca {
    color: orange;
    text-align: center;
    
}

.containerForm {
    
    
}

.cardPositioning {
    
}

.buttonContainer {
    text-align: center;
}

.displayNav {
    display: none;
}

.navbarPositioning {
    display: flex;
    justify-content: end;
}

.tituloEventos {
    color: orange;
    margin-top: 20px;
}

.overlayImg {
    background-image: url('/img/banner.jpg');
    background-size: 50%;
    max-width: 100%;
    width: 1320px;
    height: 400px;
   
   
}


.containerCardPositioning2 {
    
}

.containerCardPositioning3 {
    display: inline-flex;
 
    
}

.buttonCorCard {
    background-color: #F2A340;
}
.buttonCorCard:hover {
    background-color: black;
}